terraform {
cloud {
    organization = "Sorenson"
    ## Required for Terraform Enterprise; Defaults to app.terraform.io for HCP Terraform
    hostname = "app.terraform.io"
   workspaces {
    name = "$HCP_WORKSPACE"
    }
  }
  required_providers {
    aws = {
      source  = "hashicorp/aws"
      version = "~> 5.0"
    }
    null = {
      source = "hashicorp/null"
      version = "3.2.2"
    }
  }
}

# Configure the AWS Provider
provider "aws" {
  region = "us-east-1"
 access_key = "$AWS_ACCESS_KEY_ID"
  secret_key = "$AWS_SECRET_ACCESS_KEY"
  token = "$AWS_SESSION_TOKEN"
}
